.loader span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    z-index: 1000; /* Ensure it's on top of other content */
    opacity: 1;
    transition: opacity 0.5s;
   }
   
   @keyframes blur {
    0%, 90% {
     filter: blur(0);
    }
   
    50% {
     filter: blur(10px);
    }
   }


   .loader {
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    animation: blur 3s linear infinite;
    text-align: center;
    line-height: 20px;
    letter-spacing: 0.2em;
    -webkit-animation: blur 3s linear infinite;
}
  
  .fade-out {
    opacity: 0;
  }